#mouseover_overlay {
    position: fixed;
    z-index: 999999999999999;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: rgba(0, 100, 255, 0.3);
    pointer-events: none;
    transition: 0.2s; /* Just for fun */
  }